<launch>
	<include file="$(find delivery_app)/launch/delivery_message_to_json_converters.launch"/>
	<include file="$(find delivery_app)/launch/delivery_message_from_json_converters.launch"/>
	<include file="$(find delivery_app)/launch/dispatcher_app.launch"/>
	<include file="$(find delivery_app)/launch/delivery_app.launch"/>
</launch>
