<launch>
  <!-- 
  
  This launch file can be reused for several coros messages to json format convertors by sending the right arguments.

  -->
  
  <!-- by convention ns equals to message type -->
  
  <node
    pkg  = "coros_message_converter"
    type = "coros_msg_to_json.py"
    name = "coros_msg_to_json"
    ns   = "TaskMsg" 
    args = "'coros_messages' 'TaskMsg'" output="screen">
  </node>
 
  <node
    pkg  = "coros_message_converter"
    type = "coros_msg_to_json.py"
    name = "coros_msg_to_json"
    ns   = "CostMsg"
    args = "'coros_messages' 'CostMsg'" output="screen">
  </node>
 
</launch>
